

.sidebar-container {
    position: relative;
  
  }
  
  .hamburger-icon {
    position: fixed; 
    top: 20px; 
    left: 5px; 
    width: 30px;
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    z-index: 2000;
}

  
  .hamburger-icon .line {
    width: 80%;
    height: 3px;
    background: white;
    transition: all 0.3s ease;
  }
  
  .hamburger-icon.open .line:nth-child(1) {
    transform: rotate(45deg) translateY(8px);
  }
  
  .hamburger-icon.open .line:nth-child(2) {
    opacity: 0;
  }
  
  .hamburger-icon.open .line:nth-child(3) {
    transform: rotate(-45deg) translateY(-8px);
  }
  
  .sidebar {
    position: fixed;
    top: 0px;
    left: -250px;
    width: 250px;
    height: 100%;
    background: #333;
    color: white;
    padding: 20px;
    transition: all 0.3s ease;
    z-index: 1000;
  }
  
  .sidebar.show {
    left: 0;
    
  }
  
  .sidebar ul {
    list-style: none;
    padding: 0;
    
  }
  
  .sidebar ul li {
    margin: 20px 0;
    
  }
  
  .sidebar ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;

  }
  